<div class="d-flex justify-content-center align-items-center" style="height: 20vh;">
  <div class="container">
  

<div>
  <p><strong>Cliente:</strong> <%= bb_rental.bb_client.name %></p>
  <p><strong>Película:</strong> <%= bb_rental.bb_movie.name %></p>
</div>
</div></div>