<div class="d-flex justify-content-center align-items-center" style="height: 20vh;">
  <div class="container">
  

<div id="<%= dom_id bb_movie %>">
  <p>
    <strong>Imagen:</strong>
    <img src="<%= bb_movie.image %>" alt="Pelicula" style="width: 50px;">
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= bb_movie.name %>
  </p>

</div>

</div>
</div>
